* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-bg-dark: #192a33;
  --color-bg-light: #1f3640; 
  --color-gray: #a8bec9; 
  --color-gray-dark: #7a8991;
  --color-yellow: rgb(242, 178, 56); 
  --color-yellow-dark: #cd8d16;
  --color-blue: #30c4be;
  --color-blue-dark: #128c89;  
  
  --shadow-y: 6px
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-gray);
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 450px;
  width: 100%;
  margin-inline: auto;
  padding: 2rem 1rem;
}

/* utilities */
.card {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 15px;
  text-align: center;
  background-color: var(--color-bg-light);
}

.text-light {
  color: var(--color-gray-dark)
}

.text-blue {
  color: var(--color-blue);
}

.text-yellow {
  color: var(--color-yellow);
}

.text-lg {
  font-size: 1.25rem;
}


.text-xl {
  font-size: 1.5rem;
}


.text-2xl {
  font-size: 1.725rem;
}

.bg-blue.text-light,
.bg-blue .text-light,
.bg-yellow.text-light,
.bg-yellow .text-light,
.bg-light.text-light,
.bg-light .text-light {
  color: var(--color-bg-light);
}

.bg-light {
  background-color: var(--color-gray);
  color: var(--color-bg-dark);
}
.bg-yellow {
  background-color: var(--color-yellow);
  color: var(--color-bg-dark);
}
.bg-blue {
  background-color: var(--color-blue);
  color: var(--color-bg-dark);
}

.btn {
  background: var(--color-gray);
  border: none;
  font-weight: bold;
  padding: 12px 25px;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-bg-light);
  display: inline-block;
  box-shadow: 0 var( --shadow-y) 0 var(--color-gray-dark);
  margin-bottom: 6px;
  transition: all 0.2s;
} 

.btn:hover {
  --shadow-y: 8px;
  transform: translateY(-2px);

}

.btn:active {
  transform: translateY(2px);
  --shadow-y: 4px;

}

.btn-sm {
  --shadow-y: 4px;
}

.btn-sm:hover {
  --shadow-y: 6px;
}

.btn-sm:active {
  --shadow-y: 3px;
}


.shadow-gray {
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
}

.shadow-blue {
  box-shadow: 0 8px 0 var(--color-blue-dark);
}

.shadow-yellow {
  box-shadow: 0 8px 0 var(--color-yellow-dark);
}

/* icons */
.icon {
  display: inline-block;
}

.icon svg {
  fill: var(--color-gray);
  height: 50px;
  width: 50px;
  vertical-align: middle;
}

.icon-sm svg {
  height: 30px;
  width: 30px;
}

.icon-lg svg {
  height: 65px;
  width: 65px;
}

.icon-yellow svg {
  fill: var(--color-yellow);
}

.icon-blue svg {
  fill: var(--color-blue);
}

.icon-dark svg {
  fill: var(--color-bg-dark);
}






/* start */

.start {
  display: flex;
  flex-direction: column;
  gap:30px;
}

.start__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start__players {
  background-color: var(--color-bg-dark);
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}

.start__players span {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.start__players--active {
  background-color: var(--color-gray);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  color: var(--color-bg-dark);
}

.start__btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn.btn-yellow {
  box-shadow: 0 var( --shadow-y) 0 var(--color-yellow-dark);
  background-color: var(--color-yellow);
}

.btn.btn-blue {
  box-shadow: 0 var( --shadow-y) 0 var(--color-blue-dark);
  background-color: var(--color-blue);
}


.board__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.board__header .center {
  background-color: var(--color-bg-light);
  border-radius: 6px;
  padding: 10px 20px;
  box-shadow: 0 var(--shadow-y) 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.board__header .board__restart svg{
  height: 20px;
  display: flex;
  align-items: center;
  transform-origin: center;
  transition: all 0.3s;
}

.board__header .board__restart:active svg {
  transform: rotate(180deg);
}

.board__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.board__content .card {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-inline: 10px;
}

.board__content .active.shadow-blue {
  background-color: var(--color-blue);
}

.board__content .active.shadow-yellow {
  background-color: var(--color-yellow);
}

.board__footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .modal__content {
  background-color: var(--color-bg-light);
  width: 100vw;
  height: auto;
}

/* score */
.score p {
  text-align: center;
  font-weight: bold;
}

.score h3 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 30px 0;
}

.score .score__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* restart */ 

.restart__title {
  font-size: 2rem;
  text-align: center;
}

.restart__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}